{% extends 'hya_main/main.html' %}

{% block content %}
    <style>
        h2,h3 { text-align: center; }
       .vl { border-left: 1px dashed black; height: 650px; }
        li { font-size: large; }
        div div h2 { color: #248F24; text-decoration: underline; }
        div div h3 { color: #F0C000; }
    </style>
    <div class="row">
        <div class="col-md-4">
            <h2>Majitelé Bloxova</h2>
            <ul>
                <li>Noobmandrink</li>
                <li>B_4V0</li>
            </ul>
        </div>
        <div class="col-md-4 vl">
            <h2>Administrátoři Bloxova</h2>
            <h3>Hlavní administrátoři</h3>
            <ul>
                <li>Keltik6244</li>
                <li>zeptak</li>
            </ul>
            <h3>Administrátor</h3>
            <ul>
                <li>bigpietro03</li>
            </ul>
            <h3>Moderátoři III</h3>
            <ul>
                <li>--</li>
            </ul>
            <h3>Moderátoři II</h3>
            <ul>
                <li>Czechs_alt</li>
                <li>jonasbenner</li>
            </ul>
            <h3>Moderátoři I</h3>
            <ul>
                <li>wajula</li>
                <li>JAKubN13</li>
            </ul>
        </div>
        <div class="col-md-4 vl">
            <h2>Developeři Bloxova</h2>
            <h3>Hlavní developer</h3>
            <ul>
                <li>zeptak</li>
            </ul>
            <h3>Developeři</h3>
            <ul>
                <li>bigpietro03</li>
                <li>Keltik6244</li>
                <li>jonasbenner</li>
                <li>NikOusRBLX</li>
            </ul>
        </div>
    </div>
{% endblock %}