{% extends 'hya_main/main.html' %}

{% block content %}
    <style>a div div p { font-size: large; }</style>
    <h3>
        {% if user.is_authenticated %}
            <a href="/clanek/new" class="top-menu">
                Přidat článek <span class="glyphicon glyphicon-plus"></span>
            </a>
        {% endif %}
    </h3>
    {% for clanek in clanky %}
        {% if clanek.kategorie == 2 %}
            <a href="/clanek/{{clanek.id}}">
                <div class="card bg-light" style="color: #E68A00; margin-bottom: 15px; border: 3px solid #FFDA44">
                    <div class="card-header" style="background-color: #F8FF95;">
                        <h4>{{ clanek.titulek }}</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-8">
                                <p>{{ clanek.obsah|linebreaksbr|truncatewords:35 }}</p>
                            </div>
                            {% if clanek.obrazek is not None %}
                            <div class="col-sm-4 text-right">
                                <img src="{{ clanek.obrazek.url }}" alt="{{ clanek.obrazek.url }}" height="150px"
                                     style="border: 3px solid #F0C000; border-radius: 3px; padding: 2px;">
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="card-footer text-muted">
                        <small>{{ clanek.vytvoreno }}, by {{ clanek.autor }}</small>
                    </div>
                </div>
            </a>
        {% endif %}
    {% endfor %}
{% endblock %}
