{% extends 'hya_main/main.html' %}

{% block content %}
<style>
    img { margin: 5px; }
    .row > .column {
      padding: 0 8px;
    }
    .row:after {
      content: "";
      display: table;
      clear: both;
    }
    .hover-shadow:hover {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
</style>

<div class="row">
  <a data-fancybox="gallery" href="../../media/gallery/wings.jpg">
    <img src="../../media/gallery/wings.jpg" alt="Wings" width="200px">
  </a>
  <a data-fancybox="gallery" href="../../media/gallery/car.jpg">
    <img src="../../media/gallery/car.jpg" alt="Car" width="200px">
  </a>
  <a data-fancybox="gallery" href="../../media/gallery/nasa.jpg">
    <img src="../../media/gallery/nasa.jpg" alt="NASA" width="200px">
  </a>
  <a data-fancybox="gallery" href="../../media/gallery/tree.jpg">
    <img src="../../media/gallery/tree.jpg" alt="Tree" width="200px">
  </a>
</div>

{% endblock %}