{% extends 'hya_main/main.html' %}

{% block content %}
    <table style="border: 1px solid black; padding: 5px; text-align: center; border: 6px solid #FF9900;
        border-radius: 3px; padding: 10px; background-color: #FFE0B3;">
        <thead><tr><th colspan="2" style="padding: 5px; text-align: center;"><h3>Discord</h3></th><th></th></tr></thead>
        <tbody style="border-bottom: 2px dashed #FF9900;"><tr><td colspan="2" style="padding: 20px;">
            <a href="#">
                <img src="../../static/media/cp_dis.png" alt="CP Discord" width="75px"><br><br>
                Czech People
            </a>
        </td><td></td></tr></tbody>
        <thead><tr><th colspan="2" style="padding: 5px; text-align: center;"><h3>Roblox</h3></th><th></th></tr></thead>
        <tbody><tr><td style="padding: 20px;">
            <a href="#">
                <img src="../../static/media/cp_logo.png" alt="CP group" width="75px"><br><br>
                Czech People group
            </a>
        </td><td style="padding: 20px;">
            <a href="#">
                <img src="../../static/media/bloxov_logo.png" alt="Bloxov group" width="75px"><br><br>
                CP || Bloxov group
            </a>
        </td>
        </tr></tbody>
    </table>
{% endblock %}
