{% extends 'hya_main/main.html' %}

{% block content %}
    <style>h2 { color: #FF9900; text-decoration: underline; font-weight: bold; }</style>
    <div class="row">
        <div class="col-sm-3"></div>
        <form class="col-sm-6 post-form text-center" method="POST">
            <br>
            <h2>Přihlášení</h2>
            {% csrf_token %}
            <br><br><br>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fas fa-user"></i>
                        </span>
                    </div>
                    <input type="text" class="form-control" placeholder="Přihlašovací jméno" name="username">
                </div>
                <br>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fas fa-lock"></i>
                        </span>
                    </div>
                    <input type="password" class="form-control" placeholder="Heslo" name="password">
                </div>
            <br>
            <button type="submit" class="save btn btn-outline-primary">Přihlásit se</button>
        </form>
    </div>
{% endblock %}
