{% load static %}
{{ form.media }}

<html>
    <head>
        <title>Project Hya</title>
        <meta charset="UTF-8">
        <!-- {% load bootstrap4 %} -->
        <!-- {% bootstrap_css %} -->
        <!-- {% bootstrap_javascript jquery='full' %} -->
        <!-- {% bootstrap_messages %} -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
              integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
              crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
        <!-- <script src="{% static 'jquery-2.1.3.min.js' %}"></script> -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
        <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
                integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
                crossorigin="anonymous"></script>
        <!--<link rel="stylesheet" href="../../../node_modules/lightbox2/dist/css/lightbox.css">-->
        <link rel="icon" type="image/png" sizes="32x32" href="../../../media/icons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../../../media/icons/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <style>
            a:hover {color: #0f3d0f; text-decoration: none;}
            a {color: #248f24;}
            li {font-size: large;}
            main {margin: 5px;}
            h3, main h4 {color: #248F24;}
            h1 {text-align: center;}
            footer {
                background-color: black;
                color: white;
                padding-top: 20px;
                padding-bottom: 20px;
                margin-bottom: 0px;
                padding-left: 15px;
                padding-right: 15px;
            }
            a:hover h3, a:hover h4 {font-weight: bold;}
            label {font-weight: bold; color: #248f24;}
            footer h4 {font-weight: bold; color: white;}
            hr.dashed {border-top: 3px dashed #bbb;}
        </style>
    </head>

    <body>
        <header>
            <nav class="navbar navbar-expand-lg fixed-top"
                 style="background-color: #000; padding-bottom: 0px; padding-top: 1px;">
                <a class="navbar-brand" href="/"><h3 style="font-weight: bold;">HYDRA</h3></a>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <span style="font-size: 1.4em; font-weight: bold;"> | </span>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/" style="padding-left: 8px; padding-right: 4px;">Domů</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/pravidla"
                               style="padding-left: 4px; padding-right: 4px;">Pravidla hry</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/ateam" style="padding-left: 4px; padding-right: 4px;">Admin
                                Team</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/galerie" style="padding-left: 4px; padding-right: 4px;">
                                Galerie</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/kontakt" style="padding-left: 4px; padding-right: 4px;">
                                Kontakt</a>
                        </li>
                        {% if user.is_authenticated %}
                            <li class="nav-item">
                                <span style="font-size: 1.4em; font-weight: bold;"> | </span>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/uredni-deska"
                                   style="padding-left: 4px; padding-right: 4px;">Úřední deska</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/internet" style="padding-left: 4px; padding-right: 4px;">
                                    Internet</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/instablox" style="padding-left: 4px; padding-right: 4px;">
                                    InstaBlox</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/blox-news" style="padding-left: 4px; padding-right: 4px;">
                                    BloxNews</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/bazos" style="padding-left: 4px; padding-right: 4px;">
                                    Bazoš</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
                <div class="navbar-nav navbar-right row">
                    <ul class="navbar-nav">
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="/profil" style="padding-left: 4px; padding-right: 4px;">Profil
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/odhlaseni" style="padding-left: 4px; padding-right: 4px;">
                                Odhlášení</a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="/registrace" style="padding-left: 4px; padding-right: 4px;">
                                Registrace</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/prihlaseni" style="padding-left: 4px; padding-right: 4px;">
                                Přihlášení</a>
                        </li>
                    {% endif %}
                    </ul>
                </div>
            </nav>
            <br><br>
        </header>
        <br>

        {% if messages %}
            {% for message in messages %}
                <div class="row">
                    <div class="col-lg-3"></div>
                    <div class="alert {{ message.tags }} alert-dismissible col-lg-6" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Zavřít">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        {{ message }}
                    </div>
                </div>
            {% endfor %}
        {% endif %}

        <main>
            <br>
            <div class="content container">
                {% if user.is_authenticated %}
                <div class="row">
                    <div class="col-md-8">
                    {% endif %}
                        {% block content %}
                        {% endblock %}
                    {% if user.is_authenticated %}
                    </div>
                    <div class="col-md-1"> </div>
                    <div class="col-md-3">
                        <!--
                        <div style="background-image: linear-gradient(#6fdc6f, #196719); border: 2px solid #0F3D0F;
                         border-radius: 3px; padding: 10px;">
                         -->
                        <div class="card mb-3"
                             style="border: 3px solid #0F3D0F;
                         border-radius: 5px;">
                            <div class="card-header"
                                 style="font-weight: bold; background-color: #42A93D; text-decoration: underline;
                                 font-size: 1.3em;">
                                Tvé postavy:
                            </div>
                            <div class="card-body"
                                 style="background-image: linear-gradient(#6FDC6F, #2DB92D);
                                 padding-left: 0px; padding-right: 0px; padding-bottom: 0px;">
                                <ul>
                                    {% for postava in postavy %}
                                        {% if postava.majitel.id == user.id %}
                                            <li>{{ postava.cele_jmeno }}</li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                                <div class="card card-header text-center"
                                 style="font-weight: bold; margin: 7px; background-color: #FCDED1;
                                 border: 2px solid #991F00;">
                                Nemůžeš mít více než 3 postavy!
                            </div>
                            </div>

                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </main>
        <br>

        <footer class="container-fluid">
            <div class="row">
                <div class="col-sm-8">
                    <p>(popis hry)</p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pellentesque eget nunc ut
                        tempus. In et interdum nibh. Aenean scelerisque ipsum eu viverra fringilla. Praesent in
                        risus ultrices, rhoncus arcu dapibus, vestibulum ex. Nulla tristique pretium nibh, vel
                        pulvinar purus condimentum vel. Sed iaculis, sem ut accumsan convallis, enim lacus rhoncus
                        ligula, ut finibus ante odio vel mauris. Aenean pharetra lorem metus, id cursus libero
                        blandit a.
                    </p>
                    <p>
                        Suspendisse mattis velit eu elit fringilla posuere. Suspendisse faucibus interdum elit eget
                        pulvinar. Etiam at ex vehicula sem efficitur porta vel aliquam risus. Fusce id nisi nisl.
                        Aenean dictum nibh ac risus commodo, non feugiat mauris ullamcorper. Pellentesque sagittis,
                        turpis non ultricies rhoncus, neque lectus aliquam felis, id tristique leo mauris id ligula.
                        Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                        Proin magna est, posuere sit amet nunc quis, fermentum consectetur libero.
                    </p>
                </div>
                <div class="col-sm-4" style="padding-left: 100px;">
                    <h4 style="font-weight: bold;">Odkazy:</h4>
                        <a href="https://discord.gg/unt5tVU" target="_blank">
                            <i class="fab fa-discord"></i>
                            Discord <!-- CP -->
                        </a>
                    <br>
                        <a href="https://www.roblox.com/groups/5163582/CP-Bloxov#!/about" target="_blank">
                            <i class="fab fa-bitbucket"></i>
                            Roblox Group <!-- CP || Bloxov -->
                        </a>
                    <br>
                        <a href="https://www.roblox.com/games/3887336971/BLOXOV-II"
                        target="_blank">
                            <i class="fab fa-bitbucket"></i>
                            Odkaz na hru <!-- CP -->
                        </a>
                </div>
            </div>
        </footer>
    </body>
</html>
