{% extends 'hya_main/main.html' %}

{% block content %}
    <h2 class="text-center nadpis">Nová postava</h2><br>
    <form method="POST" class="post-form">
         {% csrf_token %}

        <div class="row">
            <div class="col-md-6">
                Křestní jméno
                <input id="jmeno" type="text" class="form-control" name="jmeno"
                    placeholder="Křestní jméno">
            </div>
            <div class="col-md-6">
                Příjmení
                <input id="prijmeni" type="text" class="form-control" name="prijmeni"
                    placeholder="Příjmení">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-4">
                Datum narození
                <input id="narozeni" type="date" class="form-control" name="narozeni"
            placeholder="Datum narození">
            </div>
            <div class="col-md-5">
                Národnost
                <input id="narodnost" type="text" class="form-control" name="narodnost"
            placeholder="Národnost">
            </div>
            <div class="col-md-3">
                Výška
                <input id="vyska" type="number" class="form-control" name="vyska"
            placeholder="Výška v cm">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                Vyznání
                <input id="vyznani" type="text" class="form-control" name="nabozenstvi"
            placeholder="Vyznání">
            </div>
            <div class="col-md-6">
                Politická orientace
                <input id="politika" type="text" class="form-control" name="politika"
            placeholder="Politická orientace">
            </div>
        </div>
        <br>
        Dosažené vzdělání
        <input id="vzdelani" type="text" class="form-control" name="vzdelani"
            placeholder="Vzdělání">
        <br>
        Jazyky, které postava ovládá
        <input id="jazyky" type="text" class="form-control" name="jazyky" placeholder="Jazyky">
        <br>
        Rodiče postavy
        <input id="rodice" type="text" class="form-control" name="rodice"
            placeholder="Rodiče">
        <br>
        Zájmy a koníčky
        <input id="hobbies" type="text" class="form-control" name="hobby"
            placeholder="Koníčky">
        <br>
        Životopis
        <textarea id="bio" class="form-control" name="bio" placeholder="Něco o životě"></textarea>
        <br><br>
        <div class="text-center">
            <button type="submit" class="save btn btn-success">Uložit</button>
        </div>
     </form>
{% endblock %}