{% extends 'hya_main/main.html' %}

{% block content %}
    <style>div.pravidla p, div.thing { font-size: large; } div h3 { color: #F0C000; }</style>
    <div class="pravidla">
        <h2 class="nadpis">Základní pojmy</h2>
            <h2>|RP| - Roleplay</h2>
                <p>
                    Pojem roleplay, také role play (zkracováno RP), je v podstatě hraní role s vlastním příběhem, který
                    musí reflektovat dění a příběhy ostatních hráčů se kterými přichází v otevřeném světě.
                </p>
                <h3>|IC| - In Character</h3>
                    <p>
                        Vše co se netýká herního světa.
                    </p>
                <br>
                <h3>|OOC| - Out of character</h3>
                    <p>
                        Vše co se týká herního světa a vaší postavy v něm.
                    </p>
            <br>
            <h2>Příkazy</h2>
                <h3>| :: |</h3>
                    <p>
                        <strong>Nezapomeň udělat mezi :: a tvou zprávou mezeru, jedná se o příkaz, který tvou zprávu dá
                            automaticky do závorek.</strong><br><br>
                        OOC zpráva, v chatu se zobrazuje bíle a je vidět v chatu celá zpráva. Pro lokální použití se dá
                        využít manuálně zadaných (( dvojtých závorek )).<br><br>
                        <em>:: (zpráva)</em><br><br>
                        <strong>Použití:</strong>
                        <ul>
                            <li>Pomoc od Admina/Moda</li>
                            <li>Tagovaná slova</li>
                            <li>Oznámení bugu</li>
                        </ul>
                    </p>
                <br>
                <h3>| :me |</h3>
                    <p>
                        Popisuje určitou činnost, nálady a emoce a nahrazuje animaci, kterou nelze provést přímo ve
                        hře.<br><br>
                        <em>:me (zpráva)</em><br>
                        Příklady: <em>:me Dívá se na zbraň</em>  nebo <em>:me Bere peněženku ze stolu</em>
                    </p>
                <br>
                <h3>| :do |</h3>
                    <p>
                        Slouží k popisu vykonání činnosti s očekáváním reakce nějakého hráče a k širšímu popisu situace
                        a prostředí.<br>
                    </p>
                <br>
                <h3>| :inz |</h3>
                    <p>
                        Inzerát, v chatu se zobrazuje oranžově.<br><br>
                        <em>:inz (zpráva)</em><br>
                        Příklad: <em>:inz Restaurace (jméno) je nyní otevřená, nachází se (lokace)</em>
                    </p>
                <br>
                <h3>| :zpr |</h3>
                    <p>
                        Zpráva, v chatu se zobrazuje světle žlutě.<br><br>
                        <em>:zpr (zpráva)</em><br>
                        Příklad: <em>:zpr Dnes je 24°C</em>
                    </p>
            <br>
            <h2>Další záležitosti</h2>
                <h3>|PK| - Player kill</h3>
                    <p>
                        Někdo tě okrade a chce se tě zbavit, proto tě zastřelí. Tvoje postava zemře, ale přes to za ni
                        můžeš nadále hrát, nic si však z dané akce nepamatuje.
                    </p>
                <br>
                <h3>|CK| - Character kill</h3>
                    <p>
                        Úplné zabití postavy. Pro CK musí být pádný důvod a musí být schválené <strong>adminem</strong>.
                        Pokud má postava CK, nelze za ni nadále hrát. <strong>[Po 3 PK]</strong>
                    </p>
        <br>
        <h2 class="nadpis">Základní pravidla</h2>
            <h2>Metagaming</h2>
                <p>
                    Vše co se dozvíš mimo svojí herní roli a použiješ to ve hře se považuje za metagaming.<br>
                    Na Discordu ti spoluhráč řekne o plánovaném útoku na tvou postavu, ty se následně začneš chovat tak,
                    jako by ses tuto informaci dozvěděl v rámci tvé postavy.<br><br>
                    <strong>
                        [1] Nemixovat IC a OOC.<br>
                        [2] Samotné ponoukání k Metagamingu, tzn. vypisování informací, které se postavy nemají jak
                        dozvědět, pokud nebyly zahrány v RP, jsou považovány za porušení pravidel.
                    </strong>
                </p>
            <br>
            <h2>Powergaming</h2>
                <p>
                    Za powergaming se považuje vše, co neodpovídá charakteru roleplaye reálného světa.<br><br>
                    <strong>[1] Zákaz provádění nereálných úkonů.</strong><br>
                    Příklad: &nbsp; <em>:me Bere auto a háže ho</em><br><br>
                    <strong>[2] Velké zbraně je nutné přiznat pomocí :me a :do, pokud je nemají v rukou. Jestliže tak
                        nebude učiněno a hráč vytáhne velkou zbraň, bude se jednat o asspulling.</strong><br>
                    Příklad: &nbsp; <em>:me Berie zbraň z auta a schováva si ju pod tričko</em><br><br>
                    <strong>
                        [3] Je přísně zakázáno zbrousit nebo jinak odstranit VIN ČÍSLA vozidel v RP!<br>
                        [4] Je přísně zakázáno zbrousit nebo jinak odstranit VIN ČÍSLA  zbraní v RP!
                    </strong>
                </p>
            <br>
            <h2>Fear RP</h2>
                <p>
                    Je představa, že vaše postava se bojí umřít.<br><br>
                    <strong>[1] Hráči jsou povinni brát v potaz, že se jeho postava bojí o svůj život.</strong><br><br>
                    <strong>Příklady non - fear RP:</strong>
                    <ul>
                        <li>Při únosu nebudete mít strach o svůj život.</li>
                        <li>Je proti pravidlům vytáhnout zbraň nebo se pokusit utéct, když je na vaší postavu namířená
                            zbraň.</li>
                    </ul>
                </p>
            <br>
            <h2>NonRP driving</h2>
                <p>
                    Znamená nereálne ovládání vozidla a úkony s vozidlem. Viz. <strong>powergaming</strong><br><br>
                    <strong>Příklady nonrp drivingu:</strong>
                    <ul>
                        <li>Hráč s autem nabourá a jede dál, jako by se nic nestalo</li>
                    </ul>
                </p>
            <br>
            <h2>Neutrální teamy</h2>
                <p>
                    <strong>
                        [1] Mezi neutrální teamy patří lékaři a hasiči.<br>
                        [2] Neutrální teamy znamenají, že se proti nim nemůže dělat krimi, pokud nedojde k vážné
                        provokaci z obou stran, či závažnějšímu konfliktu.<br>
                        [3] Pro dělání krimi proti těmto teamům je potřeba povolení Moderátora II a výš, jinak je to plně
                        zakázáno.
                    </strong>
                </p>
        <br>
        <h2 class="nadpis">Obecná pravidla</h2>
            <p>
                <strong>
                    [1] Hráči by měli za každou cenu zůstat ve své roli a nekomunikovat OOC.<br>
                    [2] Nikdy neodcházejte od klávesnice pokud se právě nacházíte v RP scéně. Pokud ale opravdu musíte
                    odejít, dejte alespoň spoluhráčům vědět do LOOC chatu za jak dlouho se přibližně vrátíte/jak situaci
                    zahrát.<br>
                    [3] Zákaz odpojení se z RP akce, zahrnuje okrádání, zatčení, honička aj. Bude bráno jako odmítání
                    hraní RP scény.<br>
                    [4] Při honičce s PČR je přísně zakázáno opustit hru do 15 minut po ujetí hlídkám, aby měli šanci vás
                    ještě najít.<br>
                    [5] Hráč je povinen do :do přiznat vše, co má aktuálně zaerpené u sebe, pokud je prohledán.<br>
                    [6] Zákaz dělat nelegální činnost pokud jsou na serveru méně než 3 policisté. [Proti IZS]
                </strong>
            </p>
            <br>
            <h2>Krádeže</h2>
                <p>
                    <strong>
                        [1] Hráč by u sebe měl vždy nosit reálné množství peněz, které by mohl unést. Výjimkou je pouze
                        situace, kdy si kupujete drahé zbraně, auta či nemovitosti. (v takovém případě byste měli zaRPit,
                        že máte peníze v kufříku, apod.)<br>
                        [2] V případě, že vás okrádá jiný hráč, musíte mu přes :do sdělit celkovou částku, kterou u sebe
                        máte.<br>
                        [3] Zloděj vás může okrást o vše.<br>
                        [4] Krádeže aut PČR, ZZS, HZS jsou povoleny pouze z pádného RP důvodu.<br>
                        [5] Zákaz nutit hráče, aby vydal své peníze výběrem v bance. Toto může hráč nabídnout, ale
                        nemusí.<br>
                        [6] Policisté by měli v prvé řadě dbát o bezpečnost rukojmí a neriskovat jejich život svými
                        zásahy.<br>
                        [7] Zákaz okrádat lidi s RP levelem menším než 5
                    </strong>
                </p>
            <br>
            <h2>Hraní za více postav</h2>
                <p>
                    <ul>
                        <li>Každá postava musí mít věk větší než 18 (nejde hrát za dítě)</li>
                    </ul>
                    <div class="thing">Je možné hrát maximálně za tři herní postavy. Pokud admin přijde na to, že
                        hraješ za více
                        než tři,
                    tak má právo dát jedné postavě CK.</div>
                </p>
        <br>
        <h2 class="nadpis">Etická pravidla</h2>
            <p>
                <ul>
                    <li><strong>Zákaz</strong> zneužívání bugů, vše ohlas adminovi. Může za to být i peněžní odměna ve
                        hře.</li>
                    <li><strong>Zákaz</strong> AFKovanie k účelu sbírání RP levelu / €, trestá se smazáním RP levelu či
                        eur</li>
                    <li>Posílání peněz je možné pouze s půdním IC důvodem. Vše musí být zahrané pomocí :me</li>
                    <li><strong>Zákaz</strong> regenování vozidel. Pokud si chcete regenerovat 2x auto, požádejte admina.
                    </li>
                    <li><strong>Zákaz</strong> být v "službě", když jste v civilu. Budou se strhávat peníze.</li>
                    <li><strong>Zákaz</strong> používat sexuální obsah!</li>
                    <li>Kriminální činnosti lze provádět pouze mezi lidmi s RP lvl 5+.</li>
                </ul>
            </p>
        <br>
        <div class="text-center">
            <strong>Pokud je někde PoliceBlock, je zakázáno dělat nelegální činnost!!!</strong>
        </div>
    </div>

{% endblock %}